<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Sinatra Test</title>
</head>
<body>
  <div id="cat">
  <img src = http://bit.ly/1eze8aE>
  </div>
</body>
</html>
